@page
@model AddBookingModel

@{
    ViewData["Title"] = "AddBooking";
}

<h1>AddBooking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@Model.FilmSchedule.Id</div>
            <div class="form-group">
                <label asp-for="Booking.FilmScheduleId" class="control-label" itemid="@Model.FilmSchedule.Id"></label>
                <select asp-for="Booking.FilmScheduleId" class="form-control">@Model.FilmSchedule.Id</select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Name" class="control-label"></label>
                <input asp-for="Booking.Name" class="form-control" />
                <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PhoneNumber" class="control-label"></label>
                <input asp-for="Booking.PhoneNumber" class="form-control" />
                <span asp-validation-for="Booking.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger">Back to first page</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
