@page
@model AddBookingModel

@{
    ViewData["Title"] = "AddBooking";
}

<h4>Bokning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>@Model.FilmSchedule.Film.Title</div>
        <div>@Model.FilmSchedule.Salon.Name</div>
        <div>@Model.FilmSchedule.ShowTime.TimeOfDay</div>
        <br />
        @if (!Model.uniquePhoneNumber)
        {
        <div class="text-danger">Du kan bara boka en film per dag/telefonnummer</div>
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NumOfTickets" class="control-label"></label>
                <select asp-for="Input.NumOfTickets" class="form-control">
                    @for (int tickets = 1; tickets <= Math.Clamp(Model.FilmSchedule.FreeChairs, 1, 12); tickets++)
                    {
                    <option>@tickets</option>
                    }
                </select>
                <span asp-validation-for="Input.NumOfTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="control-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Boka" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-danger">Tillbaka</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Tillbaka till start</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
