@page
@model IndexModel
@{
    ViewData["Title"] = "Berras Bio";
}

    <div class="text-center">
        <h1 class="display-4 text-center">Today's Films</h1>
        <br />
        <br />
        <div class="container">
            <div class="col-12 border">
                <form method="post">
                    @if (Model.FilmSchedulesToday.Count() > 0)
                    {
                        <table class="table table-striped border">
                            <tr class="table-secondary">
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().Film"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().ShowTime"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().Salon"></label>
                                </th>
                                <th>
                                    <label asp-for="FilmSchedulesToday.FirstOrDefault().FreeChairs"></label>
                                </th>
                                <th></th>
                            </tr>
                            @foreach(var filmschedule in Model.FilmSchedulesToday)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => filmschedule.Film.Title)</td>
                                    <td>@Html.DisplayFor(m => filmschedule.ShowTime.TimeOfDay)</td>
                                    <td>@Html.DisplayFor(m => filmschedule.Salon.Name)</td>
                                    <td>@Html.DisplayFor(m => filmschedule.FreeChairs)</td>
                                    <td><a asp-page="Booking" class="btn btn-success btn-sm">Book tickets</a></td>
                                </tr>
                             }
                        </table>
                    }
                    else
                    {
                        <p>No films today!</p>
                    }
                </form>
            </div>
        </div>
    </div>
